<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="/images/favicon.ico">

    <!-- CSS  -->
    <link rel="stylesheet" href="/css/broken.css">

    <title><%= code %></title>
</head>
    <body class="loading">
    <h1><%= code %></h1>
    <h2>Something went wrong <b>:(</b></h2>
    <div class="gears">
        <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
        <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
        <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
    </div>
    </body>
</html>

<!-- Jquery  -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>


<script>
    $(function() {
        setTimeout(function(){
        $('body').removeClass('loading');
        }, 1000);
    });
</script>