<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Land</title>
    	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
	ntegrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/quiz-startQuiz.css">
    <link rel="stylesheet" id="loaderEnabler" href="">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <span class="loader"></span>

    <div class="loader-background">
        <div class="con">
            <div class="mainCon top-element">
                <div class="header">
                    <a href="/" target="_blank">
                        <div class="logo">
                            <img src="/images/quiz-land-logo.png" alt="logo">
                            Quiz Land
                        </div>
                    </a>
                </div>

                <div class="error hidden">
                </div>

                <div class="okValidate hidden">
                </div>


                <form action="/quiz/play" target="_blank" method="post" class="mainForm">
                    <div class="inputVal quizidInput">
                        <input type="text" name="quizID" id="shortId" placeholder="Enter 9 characters Invite Code">
                        <button type="button" class="cusBtn validateID">Validate</button>
                    </div>

                    <div class="inputVal usernameInput hidden">
                        <input type="text" name="username" id="userName" placeholder="Enter username">
                        <button type="button" class="cusBtn validateUsername">Validate</button>
                    </div>

                    <div class="inputVal startQuizInput hidden">
                        <button type="button" class="cusBtn mt-3 mb-3 startQuiz">Start Quiz</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="con">
            <div class="mainCon">
                <div class="title">
                    <strong>Instructions</strong>

                    <div class="instructions">
                        <ul>
                            <li>This is an Online Quiz consisting of MCQ questions with single option correct.</li>
                            <li>Make sure you complete your quiz in a single sitting.</li>
                            <li>Your Invite Code/Link is made for single use. You cannot enter the quiz again with the same invite link.</li>
                            <li>If you leave the quiz in between then your total score will be equal to the number of correct responses given by you.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
   


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var invite = "<%= invite %>";
    </script>

    <script src="/javascript/quiz-startQuiz.js"></script>
</body>
</html>